/* src/app/test2/login/login.component.css */

.login-container {
    width: 400px;
    margin: 90px auto;
    padding: 20px;
    border: 1px solid #301e1e;
    border-radius: 8px;
    background-color: #d9a8a8;
  }
  
  h2 {
    text-align: center;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 20px;
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ddd;
  }
  
  div {
    color: rgb(21, 11, 11);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  